//////////////////////////////////
/////// GENERAL VARIABLES ////////
//////////////////////////////////
$xsmall: 420px;
$small: 767px;
$medium: 991px;
$large: 1199px;
//////////////////////////////////
////////// GENERAL SCSS //////////
//////////////////////////////////
body, html{
    padding: 0;
    margin: 0;
}
//////////////////////////////////
////////// HEADER SCSS ///////////
//////////////////////////////////
header{
    height: 10vh;
    nav{
        .navbar-header{
            .hamButton{
                margin-top: 0;
                margin-bottom: 0;
                padding-bottom: 0;
                
                img{
                    height: 50px;
                }
                @media screen and (max-height: 615px){
                    padding-top: 0;
                }
            }
            #logoContainer{
                padding-left: 60px;
                #logo{
                    margin-top: 50px;
                    width: 110px;
                    position: absolute;
                    z-index: 3;
                }
                @media screen and (max-width: $medium){
        			padding-left: 20px;
        			#logo{
        			    margin-top: 7px;
        			    width: 100px;
        			}
        		}
        		@media screen and (max-width: $small){
        			#logo{
        			    margin-top: 30px;
        			}
        		}
                
            }
            
        }
        
        .collapse.in{
            z-index: 2;
            position: relative;
            background: #fff;
        }
        #ulMenu{
            padding-top: 10px;
            padding-left: 250px;
            
            li{
                a{
                    padding: 14px 10px;
                    color: #d05b00; 
                    font-weight: 500;
                }
            }
            @media screen and (max-width: $medium){
    			padding-left: 130px;
    		}
    		@media screen and (max-width: $small){
    			padding-left: 0;
    			li{
    			    a{
    			        text-align: center;
    			    }
    			}
    		}
        }
        
        #memberButtonUl{
            padding-top: 18px;
            padding-right: 5%;
            
            button{
                padding: 5px 10px;
                background: #005f19;
                color: white;
                border: 2px solid #005f19;
                border-radius: 6px;
                
            }
            @media screen and (max-width: $medium){
    			font-size: 10px;
    			padding-right: 0;
    		}
            @media screen and (max-width: $small){
    			text-align: center;
    			padding-top: 10px;
    			padding-bottom: 20px;
    		}
        }
        
        
    }
}
//////////////////////////////////
////////// FOOTER SCSS ///////////
//////////////////////////////////
footer{
    background: #005f19;
    color: white;
    #titleRow{
        margin-bottom: 20px;
        h3{
            border: 3px solid white;
            width: 120px;
            padding: 5px 10px;
        }
    }
    #pageRow{
        margin-bottom: 20px;
        h5{
            &>a{
                color: white;
                cursor: pointer;
            }
        }
    }
    #flagRow{
        margin-bottom: 10px;
        img{
            margin-left: 10px;
            margin-right: 10px;
            display: inline;
            width: 80px;
            height: 40px;
        }
        @media screen and (max-width: $large){
            img{
                width: 70px;
                height: 35px;
            }
        }
        @media screen and (max-width: $medium){
            img{
                width: 50px;
                height: 25px;
            }
        }
        @media screen and (max-width: $small){
            img{
                width: 50px;
                height: 25px;
            }
        }
    }
}