//////////////////////////////////
/////// GENERAL VARIABLES ////////
//////////////////////////////////
$xsmall: 420px;
$small: 767px;
$medium: 991px;
$large: 1199px;


//////////////////////////////////
////////// GENERAL SCSS //////////
//////////////////////////////////
body, html{
    padding: 0;
    margin: 0;
}


//////////////////////////////////
////////// HEADER SCSS ///////////
//////////////////////////////////
header{
    background: #b54a38;
    height: 90px;
    nav{
        #logo{
            height: 150px;
            position: absolute;
            z-index: 3;
        }
        #ulMenu{
            padding-top: 17px;
            padding-left: 15%;
            
        }
        
        #ulMenu li a {
            color: #fff;
        }
        
        #memberButtonUl{
            padding-top: 30px;
            padding-right: 5%;
            
            button{
                padding: 5px 10px;
                background: #005f19;
                color: white;
                border: 2px solid #005f19;
                border-radius: 6px;
            }
        }
        
        
    }
}

//////////////////////////////////
////////// FOOTER SCSS ///////////
//////////////////////////////////
footer{
    background: #e2e5e4;
    #masterRow{
        padding-top: 50px;
        padding-bottom: 50px;
        
        #logoTab{
            border-right: thin solid black;
            #firstRow{
                img{
                    height: 150px;
                    width: 100%;
                }
            }
            #secondRow{
                margin-top: 20px;
                img{
                    height: 50px;
                    width: 50%;
                }
            }
            @media screen and (max-width: $small){
    			border-right: none;
    		}
            
        }
        
        #infoTab{
            
            ul{
                list-style-type: none;
                li{
                    font-size: 15px;
                    font-weight: 500;
                
                }
            }
            @media screen and (max-width: $small){
    			padding-top: 50px;
    			text-align: center;
    		}
        }
    }
}