body, html {
  padding: 0;
  margin: 0; }

header {
  height: 10vh;
  min-height: 72px; }
  header nav .navbar-header .hamButton {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0; }
    header nav .navbar-header .hamButton img {
      height: 50px; }
    @media screen and (max-height: 615px) {
      header nav .navbar-header .hamButton {
        padding-top: 0; } }
  header nav .navbar-header #logoContainer {
    padding-left: 20px; }
    header nav .navbar-header #logoContainer #logo {
      margin-top: 20px;
      width: 130px;
      position: absolute;
      z-index: 3; }
    @media screen and (max-width: 991px) {
      header nav .navbar-header #logoContainer {
        padding-left: 20px; }
        header nav .navbar-header #logoContainer #logo {
          margin-top: 30px;
          width: 100px; } }
    @media screen and (max-width: 767px) {
      header nav .navbar-header #logoContainer #logo {
        margin-top: 0;
        width: 90px; } }
  header nav .collapse.in {
    z-index: 2;
    position: relative;
    background: #fff; }
  header nav #ulMenu {
    padding-top: 10px;
    padding-left: 250px; }
    header nav #ulMenu li a {
      padding: 14px 10px;
      color: #d05b00;
      font-weight: 500; }
    @media screen and (max-width: 991px) {
      header nav #ulMenu {
        padding-left: 130px; } }
    @media screen and (max-width: 767px) {
      header nav #ulMenu {
        padding-left: 0; }
        header nav #ulMenu li a {
          text-align: center; } }
  header nav a {
    color: white;
    text-decoration: none; }
  header nav #memberButtonUl {
    padding-top: 18px;
    padding-right: 5%; }
    header nav #memberButtonUl button {
      padding: 5px 10px;
      background: #005f19;
      color: white;
      border: 2px solid #005f19;
      border-radius: 6px; }
    @media screen and (max-width: 991px) {
      header nav #memberButtonUl {
        font-size: 10px;
        padding-right: 0; } }
    @media screen and (max-width: 767px) {
      header nav #memberButtonUl {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px; } }

footer {
  background: #005f19;
  color: white; }
  footer #titleRow {
    margin-bottom: 20px; }
    footer #titleRow h3 {
      border: 3px solid white;
      width: 120px;
      padding: 5px 10px; }
  footer #pageRow {
    margin-bottom: 20px; }
    footer #pageRow h5 > a {
      color: white;
      cursor: pointer; }
  footer #flagRow {
    margin-bottom: 10px; }
    footer #flagRow img {
      margin-left: 10px;
      margin-right: 10px;
      display: inline;
      width: 80px;
      height: 40px; }
    @media screen and (max-width: 1199px) {
      footer #flagRow img {
        width: 70px;
        height: 35px; } }
    @media screen and (max-width: 991px) {
      footer #flagRow img {
        width: 50px;
        height: 25px; } }
    @media screen and (max-width: 767px) {
      footer #flagRow img {
        width: 50px;
        height: 25px; } }

/*# sourceMappingURL=main.css.map */
