#page2 {
    
    #mission {
    background-color:#aaa;
    text-align: center;
    padding: 20px;
    
    }

    #history {
    background-color:#DDDDDD;
    padding:30px 25px 75px;
    h1 {
        text-align: center;
    }
    
    }

    #presidents {
    text-align: center;
    padding-bottom:175px;
    
    }

    #historic {
    text-align: center;
    background-color:#DDDDDD;
    padding: 25px 25px;
    }

}