#page4{
    background-color:white;
    
    .comm{
        margin-top: 30px;
        margin-bottom: 30px;
        background: #ddd;
        padding: 20px 15px 15px;
    }
    
    .infoLeft{
        padding: 50px;
    }
    
    .infoRight{
        padding: 50px;
    }
    
    #officers{
        background-color:#DDDDDD;
        border-top: 0.5px solid black;
        border-bottom: 0.5px solid black;
        padding: 10px  30px 90px 60px;
        text-align:center;
    }
    #title{
        padding-bottom: 30px;
    }
    hr{
        margin-top: 20px;
        text-align:center;
    }
}