#page4{
    background-color:white;
    #comm{
        background-color:#ddd;
        padding: 10px 30px 50px;
    }
    #comm2{
        background-color:#ddd;
        padding: 10px 30px 50px;
    }
    #space1{
        margin-top:50px;
    }
    #space2{
        margin-top:50px;
        margin-bottom:50px;
    }
    #space3{
        margin-bottom:75px;
    }
    #officers{
        background-color:#DDDDDD;
        border-top: 0.5px solid black;
        border-bottom: 0.5px solid black;
        padding: 10px  30px 90px 75px;
    }
    h1{
        text-align:center;
    }
}