#page9master{
    background: #e2e1e0;
    .linkRow{
        margin: 50px 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom:60px;
        background: #79220d;
        border-radius:20px;
        color: white;
        h3{
            padding-top:20px;
            padding-bottom:20px;
        }
        .ulStyling{
            font-size: 16px;
            li{
                margin-top: 10px; 
                margin-bottom: 10px;
            }
            .subBullet{
                margin-left: 20px;
                font-size: 14px;
                a{
                    cursor: pointer;
                }
            }
        }
    }
}
