#page1master {
    h1 {
        padding-top: 35px;
        font-size: 25;
    }
    .jumbotron {
        height: 70vh;
        width: 100%;
    }
    
    #font {
        font-size: 20px;
        margin: 10px 80px 10px;
    }
    #text {
    	padding: 30px;
    }
    
    .textbox {
        margin: 50px 0 10px;
    }
    #majorAccomplishments {
        padding-top: 40px;
        padding-bottom: 40px;
        #box1, #box2, #box3 {
            padding: 60px;
        }   
    }
    .ihatethis{
        
        background-color: #ddd6d6;
        
    }
    
    
}



