#page4{
    background-color:white;
    
    .comm{
        margin-top: 30px;
        margin-bottom: 30px;
        background: #ddd;
        padding: 20px 15px 15px;
    }
    
    .infoLeft{
        padding: 50px;
    }
    
    .infoRight{
        padding: 50px;
    }
    
    #title{
        padding-bottom: 30px;
    }
    hr{
        margin-top: 20px;
        text-align:center;
    }
    .buttonstyle{
        padding: 7px;
        margin-top: 25px;
        background-color: #DDDDDD;
        border: 2.5px solid white;
    }
    a{
        color: white;
    }
    p{  
        text-align: justify;
        font-size: 20px;
    }
}